* {
    margin: 0px;
    padding: 0px;
}

body {
    background-color: rgb(241, 255, 254);
}

.container {
    margin: 100px auto;
    display: flex;
    flex-wrap: wrap;
    background-color: white;
    border: 1px solid black;
}

.cell {
    border: 1px solid whitesmoke;
}